<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nanyou.ziyu.account.mapper.AccountMapper">
  <resultMap id="accountMap" type="com.nanyou.ziyu.account.model.Account">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="unionid" jdbcType="VARCHAR" property="unionid" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="portrait" jdbcType="VARCHAR" property="portrait" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="country" jdbcType="VARCHAR" property="country" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="follow" jdbcType="INTEGER" property="follow" />
  </resultMap>

  <!--新增用户 -->
  <insert id="insert">
    insert into account
      (unionid, openid, nickname, portrait, sex, city, province,
      country, login_time, create_time,follow)
      values
      (#{unionid}, #{openid}, #{nickname}, #{portrait}, #{sex}, #{city}, #{province},
      #{country}, #{loginTime}, #{createTime}, #{follow})
  </insert>
  
  <update id="update">
		update account
		<set>
			<if test="nickname != null">
				nickname = #{nickname},
			</if>
			<if test="portrait != null">
				portrait = #{portrait},
			</if>
			<if test="sex != null">
				sex = #{sex},
			</if>
			<if test="city != null">
				city = #{city},
			</if>
			<if test="province != null">
				province = #{province},
			</if>
			<if test="country != null">
				country = #{country},
			</if>
			<if test="role != null">
				role = #{role},
			</if>
			<if test="loginTime != null">
				login_time = #{loginTime},
			</if>
			<if test="follow != null">
				follow = #{follow},
			</if>
		</set>
		where openid = #{openid}
	</update>
	
	<!--查询用户 -->
	<select id="selectOne" resultMap="accountMap">
		select * from account where
		openid = #{openid} limit 1;
	</select>
	
</mapper>